In [1]:
import urllib.request, json 
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./IPL_Deliveries_Full.csv")
df.shape

(136598, 21)

In [3]:
df.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [28]:
df.dismissal_kind.unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field'], dtype=object)

In [30]:
#df.groupby('batsman')['match_id'].count().sort_values(ascending = False)[:100]
#batsmanByball = df.groupby('batsman').aggregate({'ball': 'count', 'batsman_runs' : 'sum'}).sort_values(
    #'ball', ascending = False)[:100]
batsmanByball['strikerate'] = batsmanByball['batsman_runs']/batsmanByball['ball'] * 100
batsmanByball.sort_values(['strikerate','ball'], ascending = False)

                 ball  batsman_runs  strikerate
batsman
AD Russell        350           574  164.000000
GJ Maxwell        594           919  154.713805
V Sehwag         1833          2728  148.827059
AB de Villiers   2231          3270  146.571044
CH Gayle         2360          3451  146.228814
YK Pathan        1953          2779  142.293907
KA Pollard       1380          1959  141.956522
DA Miller        1053          1480  140.550807
DA Warner        2440          3373  138.237705
JA Morkel         712           975  136.938202
SR Watson        1869          2557  136.811129
JP Faulkner       346           473  136.705202
Harbhajan Singh   574           783  136.411150
MS Dhoni         2419          3270  135.179826
SK Raina         3059          4106  134.226872
ST Jayasuriya     573           768  134.031414
AC Gilchrist     1555          2069  133.054662
SPD Smith         933          1241  133.011790
KP Pietersen      758          1001  132.058047
ML Hayden         839          1107  131.942789
DR Smith         1645          2146  130.455927
NLTC Perera       326           424  130.061350
SE Marsh         1715          2225  129.737609
JD Ryder          466           604  129.613734
RG Sharma        2996          3874  129.305741
WP Saha          1025          1323  129.073171
SA Yadav          390           503  128.974359
Q de Kock         566           726  128.268551
KM Jadhav         490           626  127.755102
V Kohli          3237          4115  127.123880
...               ...           ...         ...
SV Samson         890          1040  116.853933
S Badrinath      1245          1441  115.742972
SS Iyer           406           469  115.517241
DB Ravi Teja      325           375  115.384615
MK Pandey        1586          1827  115.195460
TL Suman          587           676  115.161840
SS Tiwary        1065          1224  114.929577
NV Ojha          1286          1474  114.618974
AM Nayar          588           672  114.285714
SR Tendulkar     2044          2334  114.187867
Y Venugopal Rao   865           985  113.872832
RS Bopara         468           531  113.461538
R Dravid         1918          2174  113.347237
LR Shukla         358           405  113.128492
J Botha           364           409  112.362637
PP Chawla         461           513  111.279826
MK Tiwary        1202          1324  110.149750
TM Dilshan       1047          1153  110.124164
PA Patel         1752          1927  109.988584
AL Menaria        367           401  109.264305
MS Bisla          737           798  108.276798
GC Smith          691           739  106.946454
JH Kallis        2291          2427  105.936272
HH Gibbs          837           886  105.854241
M Manhas          486           514  105.761317
SC Ganguly       1326          1349  101.734540
CA Pujara         403           390   96.774194
UBT Chand         314           300   95.541401
A Mishra          326           291   89.263804
GH Vihari         323           280   86.687307

[100 rows x 3 columns]